.btn {
  border: none;
  appearance: none;
  padding: 15px;
  background: transparent;
  color: #666;
}

.btn[type="button"]:disabled {
  color: #ccc;
}

.small {
  padding: 0;
}

.danger {
  color: rgba(255, 0, 0, 0.75);
}
