.card {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  color: black;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}
