.deck {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #ffffff;
}

.link {
  padding: 20px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.link:first-child {
  flex: 2;
}

.action {
  color: #666;
  cursor: pointer;
}

.delete {
  color: #ff6b6b;
}
