.stack {
  background: #edf2ff;
}

.stack.full {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.item {
  padding: 5px 10px;
}

.item:first-child {
  padding-top: 10px;
}
